/* web fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Scope+One&display=swap');

/* custom fonts */

@font-face {
    font-family: 'Latin Modern Roman';
    src: url(../fonts/lmroman12-regular.otf);
}

/* colors */
:root {
    --accent: #d06565;
    --accent_transparent: #d06565dd;
    --background: #2a6dc4;
    --inverse_text: #ffffff;
}

body {
    font-family: 'Scope One', 'Latin Modern Roman', 'Garamond', serif;
    font-size: 20pt;
}

h1, h2, h3 {
    font-family: 'Comfortaa', 'Helvetica', sans-serif;
}

h1 {
    font-size: 45pt;
}

h2 {
    font-size: 20pt;
    margin-bottom: 10pt;
}

h3 {
    font-size: 16pt;
}

hr {
    color: var(--accent);
    margin-bottom: 20pt;
    margin-top: 0pt;
    border-style: solid;
}

li {
    padding-bottom: 15pt;
    padding-top: 15pt;
    font-size: 20pt;
    vertical-align: middle;
}

li::marker {
    display: inline;
    vertical-align: middle;
    font-family: "Comfortaa";
}

img {
    width: 250px;
    height: 250px;
}

blockquote {
    background: var(--accent_transparent);
    color: var(--inverse_text);
    border-radius: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 80px;
}

.titleSlide {
    vertical-align: middle;
    text-align: center;
    background-color: var(--background);
    color: var(--inverse_text);
    padding-left: 0px;
    padding-right: 0px;
}

.sectionSlide{
    vertical-align: middle;
    text-align: center;
    background-color: var(--background);
    color: var(--inverse_text);
}

.remark-slide-number {
    font-family: 'Comfortaa';
    top: 646px;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.whiteout {
    color: #ffffff;
}

#eti-ki-kolokvij {
    font-size: 18pt;
}

#denis-vla-i-ek {
    font-size: 16pt;
}

#big-data {
    padding-top: 180px;
    padding-bottom: 150px;
}

#specificnosti {
    padding-top: 120px;
    padding-bottom: 200px;
}

#privacy {
    padding-top: 70px;
    padding-bottom: 250px;
    padding-right: 90px;
    height: 350px;
    width: 350px;
}

#share {
    margin-top: 170px;
}
